<!DOCTYPE html>
<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Teste Lambda</title>
		</head>
	<body>

		<h1>Teste Lambda</h1>
		<br />

		<form action="/teste/salvar" method="post">
			<label>Nome do Bucket</label><br>
			<input type="text" id="nome" name="nome" placeholder="Nome do Bucket" />
			<br />
			
			Ação    <br>
			<select name = "opt">

				<option selected value = "iniciar" > Iniciar Instancia</option>
				<option value = "terminar" > Terminar Instancia</option>
				
			
			</select>
			<br><br>
			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>